{{#items.isNotEmpty}}
  <div class="about-how-work">
    {{#title}}
      <h2 class="about-how-work__head">{{{.}}}</h2>
    {{/title}}
    <div class="about-how-work-block">
      {{#items}}
        <div class="about-how-work-item"{{#strMainId}} id="{{.}}"{{/strMainId}}>
          <div class="about-how-work-item__num">{{index}}</div>
          <div class="about-how-work-item__title">{{{title}}}</div>
          {{#text}}
            <div class="about-how-work-item__text">{{{.}}}</div>
          {{/text}}
        </div>
      {{/items}}
    </div>
  </div>
{{/items.isNotEmpty}}
