<div class="feedback-success-message">
  <div class="feedback-success-message__title">{{{title}}}</div>
  <div class="feedback-success-message__text">{{{text}}}</div>
  <button class="feedback-success-message__close feedback-success-message__button button button_filled_blue"
          data-fancybox-close>Хорошо
  </button>
  <button class="feedback-success-message__close feedback-success-message__cross"
          data-fancybox-close>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 1.61 14.39 0 8 6.39 1.61 0 0 1.61 6.39 8 0 14.39 1.61 16 8 9.61 14.39 16 16 14.39 9.61 8 16 1.61Z" fill="#342733"/></svg>
  </button>
</div>
