<div class="form-group{{#has_error}} form-group_has-error{{/has_error}}">
  <label class="form-label">
    {{>form-control-title}}
    <span class="form-group-inner">
        <input name="{{code}}"
               type="password"
               autocomplete="off"
               {{#html_required}}required{{/html_required}}
               class="form__control form__control_password{{#requiredCssClass}} {{.}}{{/requiredCssClass}}{{#maskCssClass}} {{.}}{{/maskCssClass}}{{#additionalCssClass}} {{.}}{{/additionalCssClass}}">
      {{>form-control-placeholder}}
      {{>form-control-view-switcher}}
      {{>form-control-error-message}}
    </span>
  </label>
  {{>form-control-note}}
</div>