<div class="about-top">
    <div class="container about-top-container">
        <div class="about-top-block">
            <h1 class="about-top__head">{{title}}</h1>
            {{#subtitle}}
                <div class="about-top__subtitle">{{{.}}}</div>
            {{/subtitle}}
        </div>
    </div>
</div>