<div class="header-logo">
    <img src="/local/assets/images/logo.svg"
         alt="Восток Транзит"
         class="header-logo__img">
    {{^isMainPage}}<a href="/" class="link-as-card"></a>{{/isMainPage}}
</div>