<button class="header-menu-toggle" type="button">
    <span class="header-menu-toggle__line"></span>
    <span class="header-menu-toggle__line"></span>
    <span class="header-menu-toggle__line"></span>
</button>