<div class="ya-share">
    <div class="ya-share__title">
        Поделиться
    </div>
    <div class="share-socials__list ya-share2"
         data-services="vkontakte,whatsapp,telegram,odnoklassniki,twitter"
         data-bare
         data-limit="7"
         data-direction="horizontal">
    </div>
</div>
